.Input{
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 10px;
}
.Label{
   font-weight: bold;
   width: 100%;
} 
.InputElement{
   outline: none;
   border: 1px solid #ccc;
   background: #fff;
   font-weight: inherit;
   padding: 6px 10px;
   width: 100%;
   box-sizing: border-box;
}
 .InputElement:focus{
    outline: none;
    background-color: #ccc;
 }
 .Invalid{
    border:  1px solid red;
    background: #fda49a;
 }